<%- include("components/header.ejs") %>
<h1>View Your Blogs Below</h1>
<div id="blog">
    <% if(blogs) { %>
    <% blogs.forEach(function(blog) { %>  <!-- Directly reference 'blogs' -->
    <div class="blog-box">
        <h1>Title : <%= blog.title %></h1>
        <p><span>Blog Content : </span><%= blog.content.slice(0,100) %> click more...</p>
    </div>
    <% }) %>
    <% } else { %>
        <h1>Please create a new blog...</h1>
    <% } %>
</div>

<%- include("components/footer.ejs") %>
